@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 150vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.section {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    justify-content: space-between;
  }
  
  .list {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin: 0;
    padding: 0;
  }
  
  .item {
    list-style-type: none;
    justify-content: space-between;
    margin-right: 30px;
    padding-left: 30px;
    align-items: center;
  }
  
  .item__link {
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
  }
  
  .item__img {
    padding-left: 20px;
  }
  
.container{
  max-width: 1200px;
  width: 100%;
  background-color:rgba(255, 255, 255, 0.1);
  padding: 25px 30px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: rgba(10, 5, 5, 0.9);
  
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}


.footer-contents{
    display: flex;
    align-items: center;
  }
  
  .site-footer__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 25px;
  }
  
  .site-footer__link{
    width: 49px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 40px;
    transition: color 0.4s ease;
  }
  
  .site-footer__link:hover{
    color: #F67E7E;
  }
  
  .site-footer__box{
    width: 144px;
    padding: 0;
    margin: 0;
    margin-left: 125px;
  }
  
  .site-footer__text{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  
  .left-content__list{
    list-style: none;
    display: flex;
    padding-left: 135px;
    margin-bottom: 50px;
  }
  
  .left-content__item{
    margin-left: 16px;
  }
  
  .icons{
    fill: #FFFFFF;
    transition: fill 0.3s ease;
  }
  
  .icons:hover{
    fill: #F67E7E;
  }
  
  .left-content__text{
    width: 255px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  
  .footer-right__content{
    margin-left: auto;
  }
